name: CI

on: [push]

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install dotfiles
        run: bin/install.sh

  centos:
    runs-on: ubuntu-latest
    container: centos:latest
    steps:
      - uses: actions/checkout@v1
      - name: Install dotfiles
        run: bin/install.sh

  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install dotfiles
        run: bin/install.sh
